@font-face {
  font-family: 'Hind regular';
  src: url('fonts/Hind-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Hind medium';
  src: url('fonts/Hind-Medium.ttf');
  font-weight: medium;
  font-style: normal;
}
@font-face {
  font-family: 'Hind light';
  src: url('fonts/Hind-Light.ttf');
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: 'Hind bold';
  src: url('fonts/Hind-Bold.ttf');
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: 'Hind semibold';
  src: url('fonts/Hind-SemiBold.ttf');
  font-weight: bold;
  font-style: normal;
}

:root {
  font-family: Hind light;
  font-size: 22px;

  color: var(--main-grey);
  background-color: var(--main-white);
  --main-white: #f5f5f5;
  --main-red: #e84426;
  --main-grey: #565a5c;
  --main-pink: #ffb8b2;
  --main-orange: #f8ac49;
  --main-green: #447500;
  --main-blue: #4456b5;
  --main-beige: #f0e9df;
}

nav {
  display: flex;
  justify-content: center;
  height: 110px;
  background-color: var(--main-white);
  position: absolute;
  top: 0;
  width: 100%;
  border-bottom-style: inset;
  z-index: 1;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style-type: disc;
  margin-block-start: 30px;
  margin-block-end: 30px;
  padding-inline-start: 30px;
  padding-inline-end: 30px;
  width: 100%;
  align-items: center;
  gap: 94px;
}

li:first-child {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  font-size: 48px;
}

li {
  text-decoration: none;
  text-transform: uppercase;
  list-style: none;
}

a {
  color: #565a5c;
  text-decoration: none;
  font-family: Hind light;
  letter-spacing: 2px;
}

a:hover {
  text-decoration: none;
  color: #e84426;
}

body {
  margin: 0;
}

html {
  overflow: scroll;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.scroller {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.scroller section {
  scroll-snap-align: start;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

#app {
  text-align: center;
}

section {
  padding-top: 110px;
  height: 85vh;
  position: relative;
  overflow-x: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-text {
  width: 50%;
}

.header-text h1 {
  font-size: 40px;
  font-weight: normal;
}

.header-text h2 {
  font-size: 32px;
  letter-spacing: 1px;
  font-weight: normal;
}

.header-cloud {
  z-index: -1;
}

.header-cloud-div-green {
  top: 105px;
  right: -200px;
  width: 470px;
  position: absolute;
  object-fit: none;
}

.header-cloud-div-pink {
  top: 550px;
  right: -265px;
  width: 470px;
  max-height: fit-content;
  position: absolute;
  object-fit: none;
}

.header-cloud-div-orange {
  top: 200px;
  left: -230px;
  width: 470px;
  max-height: fit-content;
  width: 470px;
  position: absolute;
}

.header-cloud-green {
  width: 70%;
  height: 70%;
  object-fit: contain;
  transform: rotate(160deg);
}

.header-cloud-pink {
  width: 60%;
  height: 60%;
  transform: rotate(90deg);
  object-fit: contain;
}

.header-cloud-orange {
  width: 90%;
  height: 90%;
  transform: rotate(130deg);
  object-fit: contain;
}

.arrow {
  padding-top: 190px;
  -webkit-animation: mover 2s infinite alternate;
  animation: mover 2s infinite alternate;
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}

.game-info-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.background-info {
  position: relative;
}

.red-div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 70px;
  padding-bottom: 0px;
}

.green-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gold-div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 70px;
  padding-bottom: 0px;
}

.text-logo {
  position: absolute;
  width: 15%;
  color: var(--main-white);
  padding-top: 20px;
}

.game-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stores h2 {
  text-transform: uppercase;
  font-size: 32px;
  letter-spacing: 2px;
}

.about h2 {
  text-transform: uppercase;
  font-size: 32px;
  letter-spacing: 2px;
}

.stores button {
  background-color: var(--main-green);
  border-style: none;
  border-radius: 10px;
  width: 292px;
  height: 69px;
  font-size: 32px;
  font-family: Hind regular;
  color: var(--main-white);
  letter-spacing: 2px;
}

.stores a {
  color: var(--main-white);
}

.profiles {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding-inline-start: 15%;
  padding-inline-end: 15%;
}

.profile-container:nth-child(2) {
  align-self: flex-end;
}

.profile-container:nth-child(4) {
  align-self: flex-end;
}

.profile-container {
  display: flex;
  width: 45vw;
  gap: 15px;
  max-height: 100px;
  align-items: center;
  flex-wrap: nowrap;
}

.profile-text-div {
  display: flex;
  flex-direction: column;
}

.profile-text-div h3 {
  font-size: 20px;
  text-align: left;
  letter-spacing: 2px;
  margin: 0;
}

.profile-text-div p {
  font-size: 16px;
  text-align: left;
  letter-spacing: 1px;
  margin: 0;
}

.profile-image-div {
  width: 90px;
  height: 90px;
}

.profile-image-div img {
  max-width: 90px;
  max-height: 90px;
  object-fit: contain;
}

.div-grey-cloud {
  width: 555px;
  height: 594px;
  position: absolute;
  left: -300px;
}

.store-cloud-grey {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform: rotate(320deg);
}

.store-cloud-div-pink {
  width: 555px;
  height: 594px;
  top: -50px;
  position: absolute;
  right: -250px;
}

.store-cloud-pink {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform: rotate(320deg);
}

.div-orange-cloud {
  width: 555px;
  height: 594px;
  position: absolute;
  left: -300px;
}

.about-cloud-orange {
  width: 80%;
  height: 80%;
  object-fit: contain;
  transform: rotate(320deg);
}

.div-green-cloud {
  width: 555px;
  height: 594px;
  position: absolute;
  top: -20px;
  right: -280px;
}

.about-cloud-green {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform: rotate(320deg);
}

.gor-skillnad {
  width: 40vw;
}

.gor-skillnad img {
  width: auto;
}

#store {
  display: flex;
  justify-content: center;
}

.bottom-logos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 2em;
}

.bottom-logos img {
  scale: 50%;
}

@media only screen and (max-width: 1023px) {
  .profile-container:nth-child(2) {
    align-self: flex-start;
  }

  .profile-container:nth-child(4) {
    align-self: flex-start;
  }

  .profile-container {
    width: 80vw;
    max-height: max-content;
    padding-bottom: 20px;
    justify-content: center;
    flex-wrap: wrap;
  }

  nav {
    display: none;
  }

  section {
    height: 100vw;
    padding-top: 0;
  }

  .scroller {
    height: 100vh;
    overflow-y: visible;
    scroll-snap-type: none;
    scroll-behavior: smooth;
  }

  .scroller section {
    scroll-snap-align: none;
  }

  .profiles {
    width: 100vw;
    padding-inline-start: 5%;
    padding-inline-end: 5%;
  }

  .header-text {
    width: 90%;
  }

  .header-text h1 {
    font-size: 24px;
    font-weight: normal;
  }

  .header-text h2 {
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: normal;
  }

  .header {
    height: 100vh;
  }

  .about {
    height: max-content;
  }

  #store {
    height: max-content;
  }

  .arrow {
    padding-top: 80px;
  }

  .header-cloud-div-green {
    display: none;
  }

  .header-cloud-div-pink {
    display: none;
  }

  .header-cloud-div-orange {
    display: none;
  }

  .header-cloud-green {
    display: none;
  }

  .header-cloud-pink {
    display: none;
  }

  .header-cloud-orange {
    display: none;
  }

  .div-grey-cloud {
    display: none;
  }

  .store-cloud-grey {
    display: none;
  }

  .store-cloud-div-pink {
    display: none;
  }

  .store-cloud-pink {
    display: none;
  }

  .div-orange-cloud {
    display: none;
  }

  .about-cloud-orange {
    display: none;
  }

  .div-green-cloud {
    display: none;
  }

  .about-cloud-green {
    display: none;
  }

  .stores button {
    background-color: var(--main-green);
    border-style: none;
    border-radius: 10px;
    width: 150px;
    height: 69px;
    font-size: 16px;
    font-family: Hind regular;
    color: var(--main-white);
    letter-spacing: 2px;
  }

  .stores h2 {
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 1px;
  }

  .stores h4 {
    font-size: 16px;
    letter-spacing: 1px;
  }

  .gor-skillnad img {
    width: 40vw;
  }

  .game-info {
    height: max-content;
  }

  .text-logo {
    position: absolute;
    width: 50%;
    color: var(--main-white);
    padding-top: 20px;
  }

  .text-logo h3 {
    font-size: 20px;
  }

  .text-logo p {
    font-size: 16px;
  }

  .red-div {
    padding-right: 0;
    padding-bottom: 20px;
  }

  .gold-div {
    padding-right: 0;
    padding-bottom: 20px;
  }

  .profile-text-div h3 {
    text-align: center;
  }

  .profile-text-div p {
    text-align: center;
  }
}
