@font-face {
  font-family: 'Hind regular';
  src: url('fonts/Hind-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Hind medium';
  src: url('fonts/Hind-Medium.ttf');
  font-weight: medium;
  font-style: normal;
}
@font-face {
  font-family: 'Hind light';
  src: url('fonts/Hind-Light.ttf');
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: 'Hind bold';
  src: url('fonts/Hind-Bold.ttf');
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: 'Hind semibold';
  src: url('fonts/Hind-SemiBold.ttf');
  font-weight: bold;
  font-style: normal;
}

:root {
  font-family: Hind light;
  font-size: 22px;

  color: var(--main-grey);
  background-color: var(--main-white);
  --main-white: #f5f5f5;
  --main-red: #e84426;
  --main-grey: #565a5c;
  --main-pink: #ffb8b2;
  --main-orange: #f8ac49;
  --main-green: #447500;
  --main-blue: #4456b5;
  --main-beige: #f0e9df;
}

nav {
  display: flex;
  justify-content: center;
  height: 135px;
  background-color: var(--main-white);
  position: absolute;
  top: 0;
  width: 100%;
  border-bottom-style: inset;
  z-index: 1;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style-type: disc;
  margin-block-start: 30px;
  margin-block-end: 30px;
  padding-inline-start: 30px;
  padding-inline-end: 30px;
  width: 100%;
  align-items: center;
  gap: 94px;
}

li:first-child {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  font-size: 48px;
}

li {
  text-decoration: none;
  text-transform: uppercase;
  list-style: none;
}

a {
  color: #565a5c;
  text-decoration: none;
  font-family: Hind light;
  letter-spacing: 2px;
}

a:hover {
  text-decoration: none;
  color: #e84426;
}

body {
  margin: 0;
}

html {
  overflow: scroll;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.scroller {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.scroller section {
  scroll-snap-align: start;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
}

#app {
  text-align: center;
}

section {
  padding-top: 135px;
  height: 85vh;
  position: relative;
  overflow-x: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-text {
  width: 50%;
}

.header-text h1 {
  font-size: 40px;
  font-weight: normal;
}

.header-text h2 {
  font-size: 32px;
  letter-spacing: 1px;
  font-weight: normal;
}

.header-cloud {
  z-index: -1;
}

.header-cloud-div-green {
  top: 30px;
  right: -130px;
  width: 470px;
  max-height: fit-content;
  position: absolute;
  object-fit: none;
}

.header-cloud-div-orange {
  top: 200px;
  left: -200px;
  width: 470px;
  max-height: fit-content;
  position: absolute;
}

.header-cloud-green {
  width: 100%;
  height: 100%;
}

.header-cloud-orange {
  width: 100%;
  height: 100%;
}

.arrow {
  padding-top: 190px;
  -webkit-animation: mover 2s infinite alternate;
  animation: mover 2s infinite alternate;
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
